# dependencies
/node_modules
/apps/server/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
dist
.next/
out/

# production
build/
packages/shared/src/data/puzzles.v1.json*.tmp
packages/shared/src/data/fullpuzzles.v1.json*.tmp
packages/shared/src/data/fullpuzzles.v1.json

# misc
.vscode/
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# local env files
.env
.env.*
.env*.local
.env.development
.env.production

# Logs
*.log*

# Browser automation session state
/.playwright-cli/
